.element {
  cursor: pointer;
}
.element:hover {
  background-color: #f4f4f4;
}
.box {
  display: block;
  margin: 0 auto;
}

.downArrow {
  position: fixed;
  bottom: 82%;
  left: 88%;
}
.bounce {
  -moz-animation: bounce 2.2s infinite;
  -webkit-animation: bounce 2.2s infinite;
  animation: bounce 2.2s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-23px);
    transform: translateY(-23px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-23px);
    transform: translateY(-23px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-23px);
    -ms-transform: translateY(-23px);
    -webkit-transform: translateY(-23px);
    transform: translateY(-23px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media only screen and (min-width: 1400px) {
  .downArrow {
    left: 94%;
  }
}
